#analysis {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-top: 10px;
}

.current-track {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
}

.current-track h1 {
    font-size: 36px;
    position: relative;
    border-bottom: 1px solid black;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.current-track h1::after {
    content: '';
    display: block;
    height: 20px;
}

.current-track img {
    max-width: 80%;
}

.current-track p {
    font-size: 40px;
    margin: 0;
}

#audio_feature ul p{
    font-size: 20px;
    margin-right: 20px;
    text-align: left;
}

#audio_feature ul p span{
    color: red;
}

.recommendations {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
}

.recommendations h1 {
    font-size: 36px;
    position: relative;
    border-bottom: 1px solid black;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.recommendations h1::after {
    content: '';
    display: block;
    height: 20px;
}

.recommendation {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.recommendation > img {
    max-width: 50%;
    margin-left: 5%;
}

/* 곡 정보 스타일 */
.recommendation-info {
    flex: 1;
    margin-right: 5%;
}

.recommendation-info p {
    font-size: 25px;
    margin: 0;
    margin-bottom: 10px;
}

.recommendations button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    transition: opacity 0.3s; /* 투명도 변화를 부드럽게 만들기 위한 트랜지션 설정 */
}

.recommendations button img {
    max-width: 50px;
    max-height: 50px;
}

.recommendations button:hover {
    opacity: 0.5;
}

@media (max-width: 768px) {
    #analysis {
        flex-direction: column; /* 화면 너비가 작을 때 세로로 정렬 */
    }

    .current-track, .recommendations {
        width: 100%;
    }
}