<!-- audio feature 분석페이지 입니다 -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<nav class="menu">
    <a href="{% url 'recommend' %}">추천음악</a>
    <a href="{% url 'index' %}">최신음악</a>
    <a href="#">선호음악</a>
</nav>
<div id="analysis">
    <div id="analysisbox1">
        
    </div>
    <h3>곡 분석</h3>
    <p>이미지{{image}}</p>
    <p>이미지{{recommendations_images}}</p>
    <h2>이미지<img src="data:image/png;base64,{{ image }}"></h2>
    {% for recommendation_image in recommendation_images %}
        <img src="data:image/png;base64,{{ recommendation_image }}">
    {% endfor %}
{% endblock content %}