<!-- 상세페이지입니다 -->
{% extends 'base.html' %}
{% block content %}
<nav class="menu">
    <a href="{% url 'recommend' %}">추천음악</a>
    <a href="{% url 'index' %}">최신음악</a>
    <a href="#">선호음악</a>
</nav>
<div id="detailBox">
    <hr>
    <div>
        {% comment %} 앨범 정보 {% endcomment %}
        <table id='album_detail'>
            <tr>
                <td><img src="{{ album.album_image }}"></td>
                <td>
                    <p><strong>앨범명:</strong> {{ album.album_name }}</p>
                    <p><strong>아티스트명:</strong> {{ album.album_artist }}</p>
                    <p><strong>장르:</strong> {{ album.album_genre }}</p>
                    <p><strong>발매일:</strong> {{ album.album_release_date }}</p>
                </td>
            </tr>
        </table>
    </div>
    <hr>
    <div>
        {% comment %} 수록곡 {% endcomment %}
        <table id="album_songs">
            <tr>
                <th>번호</th>
                <th>곡명</th>
                <th>플레이리스트</th>
                <th>미리듣기</th>
                <th>분석</th>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}